[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mozprocess = "*"
matplotlib = "*"
pandas = "*"
blessings = "*"
structlog = "*"
colorama = "*"
mozterm = "*"
jupyter = "*"
seaborn = "*"

[requires]
python_version = "2.7"
